<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">R&E Web Designs</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <div class="navbar-nav">
        <a class="nav-link {{#if path "/"}}active{{/if}}" href="/">Weather</a>
        <a class="nav-link {{#if path "about"}}active{{/if}}" href="/about">About</a>
        <a class="nav-link {{#if path "help"}}active{{/if}}" href="/help">Help</a>
    </div>
  </div>
</nav>