body {
    background-color: #2F3242 !important;
    color: #fff !important;
}

img {
    width: 250px;
}

a {
    color: grey !important
}

a.active {
    color: black !important;
}

.family {
    margin-top: auto;
    margin-bottom: auto;
    height: 200px;
}

@media only screen and (max-width: 500px) {
    /* .family-container {
        margin-bottom: 100px;
    } */

    .about-container image1 {
        height: 300px;
    }

    .about-container {
        margin-bottom: 100px;
    }
    
    .family {
        height: 200px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 768px) {
    .about-container .row {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        place-items: center;
    }

    .about-content {
        max-width: 100% !important;
    }

    .family {
        margin-bottom: 100px;
    }
}

footer {
    height: auto;
    width: 100%;
    padding: 10px;
}
